<h1>Directives</h1>

<h2>Custom Attribute Directive</h2>
<div>Goal
  <p>This is a custom attribute directive example.
    <br>
    When mouse enters: Background = Skyblue
    <br>
    When mouse leaves: Background = White
  </p>
  <div>
    <p appHighlight>Hover over this text to see the effect.</p>
  </div>
</div>
<hr>

<h2>Custom Structural Directive</h2>

<div>
  <p> Suppose:
    <br>
    Admin → Show Button
    <br>
    User → Hide Button
  </p>
<button *appRoleDirective="'Admin'">
   Delete User
</button>
</div>
<hr>
<div class="adminComponent">
  <app-admin></app-admin>
</div>